@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: aliceblue;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding: 10px;
  gap: 10px;
}

main {
  display: flex;
  flex: 1;
  gap: 10px;
  min-height: 0;
}

.left {
  display: flex;
  flex-direction: column;
  width: 35vw;
  min-height: 0;
  gap: 10px;
}

.right {
  border: 1px solid white;
  width: 100%;
}



/* Navigation */
.home {
  padding: 20px;
}

.logo {
  filter: invert(1);
  width: 100px;
}

.home ul li {
  display: flex;
  width: 25px;
  gap: 12px;
  list-style: none;
  padding-top: 20px;
  align-items: center;
  font-size: 16px;
  transition: 0.4s ease-in-out;
  color: #b3aaaa;
}

.home ul li:hover {
  color: white;
  cursor: pointer;
}

/* Library */
.library {
  border: 1px solid white;
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between;  */
  /* position: relative; */
}

.heading img {
  width: 30px;
}

.heading {
  gap: 12px;
  width: 96%;
  padding-top: 14px;
  padding-left: 14px;
  padding-bottom: 2px;
  font-weight: bold;
  align-items: center;
  margin: 5px;
}

.heading h2 {
  font-size: 23px;
  color: #b3aaaa;
  transition: 0.4s ease-in-out;
}

.heading h2:hover {
  font-size: 23px;
  color: white;
  cursor: pointer;
}

.lang {
  /* position: absolute; //does not let it staty at bottom 
  bottom: 8px; */
  margin-top: auto;
  /* Pushes the button to the bottom */

}

.lang button {
  /* position: absolute;
  bottom: 12px; */
  background-color: black;
  color: white;
  border: 2px solid #b3aaaa;
  border-radius: 50px;
  padding: 3px 18px 3px 18px;
  margin-left: 12px;
  font-weight: 700;
  box-sizing: border-box;
  display: flex;
  align-items: center;

}


.lang button:hover {
  transform: scale(1.09);
  border: 1px solid var(--essential-base, #000000);
  border: 2px solid white;
}

.lang-btn {
  gap: 8px;
}

.globe {
  width: 22px;
}

/* Right Main Feed */
.header {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background-color: rgba(12, 11, 11, 0.9);
  position: sticky;
  top: 0;
  z-index: 1000;
  opacity: 10000000000;
  margin-bottom: 12px;
}

.arrow {
  display: flex;
  gap: 18px;
}

.arrow svg:hover {
  transform: scale(1.09);
}

.buttons {
  display: flex;
  gap: 25px;
}

.log {
  background-color: white;
  color: #000000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
  padding: 12px 29px 12px 29px;
  border-radius: 56px;
  border: none;
}

.log:hover {
  transform: scale(1.08);
  cursor: pointer;
}

.sign {
  background: none;
  color: #b3aaaa;
  border: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
}

.sign:hover {
  transform: scale(1.09);

  color: var(--text-base, #ffffff);
  cursor: pointer;
}

.playlist {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 12px;
}

.playlist h1 {
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  font-family: "Times New Roman", Times, serif;
}

.playlist h1:hover {
  text-decoration: underline;
}

.card {
  border-radius: 12px;
  width: 150px;
  height: 230px;
  /* border: 2px solid red; */
  padding: 10px;
  gap: 2px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.play {
  position: absolute;
  bottom: 67px;
  left: 90px;
  transition: 0.2s ease-in-out;
  opacity: 0;
}

.play svg {
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
  transition: transform 0.3s ease, filter 0.3s ease;
}

.card .play svg {
  width: 32px !important;
  height: 32px !important;
}

.card:hover {
  background-color: #1f1f1f;
  cursor: pointer;
}

.card:hover .play {
  bottom: 100px;
  transform: scale(1.4);
  opacity: 1;
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.849));
}

.card img {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.card p {
  color: #acacac;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  text-overflow: ellipsis;
}

.card h2 {
  font-family: cursive;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.cardcontainer {
  margin: 20px 8px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #555 #2c2c2c;
  max-height: 70vh;
}



.songbuttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.songlist {
  margin-bottom: 35px;
  overflow: auto;
  height: 1000px;
}

.songlist ul {
  padding: 0px 2px;
  /* margin-top: 15px; */
}


.songlist ul li {
  list-style-type: none;
  border: 2px solid whitesmoke;
  display: flex;
  gap: 15px;
  /* font-size: 13px; */
  cursor: pointer;
  padding: 10px 7px;
  border-radius: 10px;
  margin: 10px 0;
  justify-content: space-between;

}

.songlist .info {
  font-size: 13px;
  width: 150px;
}

.playnow {
  display: flex;
  align-items: center;
  justify-content: center;

}

.playnow span {
  font-size: 10px;
  padding: 12px 0px;

}

/* .player {
  height: 45px;
  filter: invert(1);
} */

/* PLAY BAR STARTS HERE */
.playbar {
  /* background: #e2d9d9;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  /* filter: invert(1);
  background: #e2d9d9; */
   background: #1D2626; 
  border-radius: 10px;
  width: 90%;
  padding: 12px;
  width: 70vw;
  min-height: 40px;
}

#progress {
  width: 100%;
  transition: left 0.5s;
}

.seekbar {
  position: absolute;
  bottom: 11px;
  height: 3px;
  width: 99%;
  /* border-radius: 80px; */
  /* background: black;  */
  padding: 3px;
}

.seekbar input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  background: linear-gradient(to right, #d400ff 0%, #d400ff 0%, #ccc 0%);
  border-radius: 10px;
  outline: none;
  transition: background 0.3s ease;
}

.seekbar input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px #000;
}


/* PLAYBAR ENDS HERE */


.songbuttons {
  cursor: pointer;
}

.abovebar {
  display: flex;
  justify-content: space-between;
  margin: 2px 0;
  width: 100%;

}

.songinfo {
  color: black;
  padding: 0 12px;
  width: 225px;
color: white;
}

.songtime {
  width: 125px;
  color: black;
  padding: 0 12px;
  color: white;
}