.border{
    border: 1px solid rgb(170, 27, 27);
   
   
}
.flex{
    display: flex;
}
.m-1{
    margin: 10px;

}
.bg-grey{
background-color: #121212;
}
.invert{
    filter: invert( 1);
}
.radius{
    border: 1px solid transparent ;
    border-radius: 15px;
}

